@font-face {
  font-family: "Assassin";
  src: url("./Fonts/Assassin.ttf");
}

body {
	
}

.BackGround {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
	display: block;
	background-image: url("./Images/wallpaper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	filter:  brightness(110%);

}

/* ------ page ------ */

h1 {
	z-index: 4;
	font-size: 80px;
	font-weight: bolder;

}

.Titre {
	background-image: url("./Images/AssassinsLogo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	filter:  brightness(130%) hue-rotate(10deg);
	

}

.LogoDiv {
	width:  100%;
	top:  -2%;
	

}

.LogoDiv img {
	filter: brightness(50%);
	z-index: 3;
	position:  absolute;
}

.Logo {
	top:  0;
	left:  35%;

}


.Page {
	z-index: 2;
	position: relative;
	margin:  2% 15%; 
	text-align: center;
	font-family: "Assassin";
}

.Page h2{
	font-weight: bolder;
	font-size: 30px;
	text-decoration:  underline;
	text-decoration-color: red;
}
.Page h3{
	font-weight: bolder;
	font-size: 28px;
	text-decoration:  underline;
}
.Page p{
	font-size: 25px;

}



/* ------ images fond ------*/

.BluePrint {
	width:  50%;
}
.FondBluePrint {
	z-index: 2;
	position: absolute;
} 
